body {
    background-image: url('../assets/white-board-background.jpg')
}

.board {
    min-height: calc( 100% - 35px);
    position: relative
}

@media (min-width: 801px) {
    .header {
        position: fixed;
        top: 0;
        z-index: 3;
        color: white;
        height: 35px;
        width: 100%;
        background-color: #ccc;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.7);
    }
    .board {
        margin-top: 35px
    }
    .header-title {
        font-size: 18px;
        position: relative;
        top: 5px;
        font-family: 'Permanent Marker', cursive;
    }
    .add-postits-wrapper {
        position: fixed;
        top: 0;
        right: 20px;
        z-index: 3;
    }
}
@media (max-width: 800px) {
    .header {
        display: none;
    }
    .board {
        margin-bottom: 125px;
    }
    .add-postits-wrapper {
        width: 100%;
        background-color: #ccc;
        position: fixed;
        bottom: 0;
        z-index: 2;
    }
    .add-postits {
        margin: 0 auto;
        text-align: center;
        display: block;
        max-width: 1000px;
    }
}