/**
 * Menu Icon
 */
.line {
    display: inline-block;
    width: 20px;
    height: 2.85714286px;
    background: #fff;
    border-radius: 1.42857143px;
    transition: .3s;
}
.lines {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 2.85714286px;
    background: #fff;
    border-radius: 1.42857143px;
    transition: .3s;
}
.lines:before,
.lines:after {
    display: inline-block;
    width: 20px;
    height: 2.85714286px;
    background: #fff;
    border-radius: 1.42857143px;
    transition: .3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 1.42857143px center;
}
.lines:before {
    top: 5px;
}
.lines:after {
    top: -5px;
}
.lines-button {
    padding: 10px 5px;
    transition: .3s;
    cursor: pointer;
    user-select: none;
    border-radius: 2.85714286px;
}
.lines-button:hover {
    opacity: 1;
}
.lines-button:active {
    transition: 0;
}
.menu-open .lines-button.x .lines {
    background: transparent;
}
.menu-open .lines-button.x .lines:before,
.menu-open .lines-button.x .lines:after {
    background-color: #1e4c4a;
    transform-origin: 50% 50%;
    top: 0;
    width: 20px;
}
.menu-open .lines-button.x .lines:before {
    transform: rotate3d(0, 0, 1, 45deg);
}
.menu-open .lines-button.x .lines:after {
    transform: rotate3d(0, 0, 1, -45deg);
}

/**
 * Menu
 */
.menu {
    width: 200px;
    position: fixed;
    top: 35px;
    left: -200px;
    bottom: 0;
    background: #fff;
    transition: 500ms ease;
    z-index: 2;
    box-shadow: 5px 0 10px 0 rgba(0, 0, 0, 0.7);
}
.menu-item {
    position: relative;
    height: 40px;
    border-bottom: 1px solid #d6d6d6;
    padding: 10px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
}
.menu-item:hover {
    background-color: rgba(0, 143, 232, 0.08);
    color: #006dae;
}
.menu-item.selected {
    background-color: #e5f5ff;
    color: #006dae;
}
.menu-item:hover:after,
.menu-item.selected:after {
    content: '>';
    position: absolute;
    right: 10px;
}
.menu-open .menu {
    left: 0;
}

/**
 * Shield
 */
.shield {
    display: none;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.menu-open .shield {
    display: block;
}

/**
 * Presentation Slides
 */
.presentation {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}
.presentation-slide {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
}
.deepstream-intro {
    background-color: #145068;
}
.deepstream-logo-wrapper {
    width: 50%;
    height: 50%;
    margin: 0 auto
}
.deepstream-logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/deepstream-logo.svg');
    background-position: center center;
    width: 100%;
    height: 100%;
    margin-top: 25%;
    margin-left: 125px;
}
.deepstream-features {
    background-color: #b8d0da;
}
.deepstream-feature {
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../assets/deepstream-features.jpg');
    background-position: center center;
    width: 100%;
    height: 100%;
}
.deepstream-in-depth {
    background-color: #37505a;
    color: #fff;
}
.deepstream-diagram {
    background: url('../assets/deepstream-behind-scene.svg') no-repeat center center;
    height: 600px;
    text-align: center;
}
.deepstream-diagram-header {
    position: relative;
    top: 71px;
    right: 356px;
    color: #22c9f1;
    font-size: 23px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    opacity: 1;
}
.deepstream-diagram-label {
    font-family: 'Quicksand', sans-serif;
    position: relative;
    opacity: .5;
}
.diagram-label-1 {
    top: 115px;
}
.diagram-label-2 {
    top: 138px;
}
.diagram-label-3 {
    top: 161px;
}
.diagram-label-4 {
    top: 230px;
    font-family: 'Montserrat', sans-serif;
    opacity: 1;
}
.diagram-label-5 {
    top: 364px;
}

/**
 * Tutorial Slides
 */
.tut {
    margin: 150px 0 0 300px;
    width: 75%;
}
code {
    padding: 25px !important;
    border-radius: 5px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
}
.tut {
    display: none;
}